# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Deployment pipeline

on:
  push:
    branches: [ "main" ]
  # pull_request:
  #   branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    # strategy:
    #   matrix:
    #     node-version: [18.x, 20.x, 22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4

  

    - name: "Build Docker image"
      run: npm install

    - name: "Run Build Command"
      run: docker build -t manjuverma11/sample-node-app:latest .

    - name: "Build Successfulllllllll"

      run: echo "docker Build successfully!"

    - name: "Login to Dockercredentials"
      run: echo "dckr_pat_1MIgoXuly_LXm-A_RoYWF3nK7H4" | docker login -u "manjuverma11" --password-stdin

    - name: "Login successfull"
      run: echo "Login to docker hub successfully!"